body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #5921c8, #1e9a4b, #5921c8);
    background-size: 400% 400%;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#main {
    position: relative;
    font-size: 70px;

    background: linear-gradient(90deg, #38bdf8, #22c55e, #38bdf8);
    background-size: 300%;
    animation: flow 3s linear infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

button {
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #22c55e;
    color: #052e16;
    transition: 0.2s;
}

button:hover {
    background: #16a34a;
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 255, 156, 0.4);
}

#toGithub {
    position: fixed;
    top: 300px;
    left: 46%;
    right: 46%;

    padding: 16px 40px;
    font-size: 18px;
    border-radius: 12px;
    background: #1e293b;

    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#toGithub:before {
    content: "";
    position: absolute;
    inset: -100%;
    background: linear-gradient(180deg, #ec4899, #3b82f6);
    background-size: 300%;
    animation: spin 3s linear infinite;
    z-index: 0;
}

#toGithub span {
    position: relative;
    z-index: 999;
}

#toGithub:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 255, 156, 0.4);
}

#sipy {
    position: fixed;
    top: 440px;
    left: 500px;
    border-radius: 12px;
    background: #1e293b;

    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#sipy:before {
    content: "";
    position: absolute;
    inset: -100%;
    background: linear-gradient(180deg, #ec4899, #3b82f6);
    background-size: 300%;
    animation: spin 3s linear infinite;
    z-index: 0;
}

#sipy span {
    position: relative;
    z-index: 999;
}

#sipy:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 255, 156, 0.4);
}

#quiz {
    position: fixed;
    top: 440px;
    right: 500px;
    border-radius: 12px;
    background: #1e293b;

    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#quiz:before {
    content: "";
    position: absolute;
    inset: -100%;
    background: linear-gradient(180deg, #ec4899, #3b82f6);
    background-size: 300%;
    animation: spin 3s linear infinite;
    z-index: 0;
}

#quiz span {
    position: relative;
    z-index: 999;
}

#quiz:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 255, 156, 0.4);
}