body {
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #5921c8, #1e9a4b, #5921c8);
    background-size: 200% 200%;
    color: #e2e8f0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    gap: 40px;
}

#main {
    margin-bottom: 40px;
    font-size: clamp(40px, 8vw, 70px);

    background: linear-gradient(90deg, #38bdf8, #22c55e, #38bdf8);
    background-size: 300%;
    animation: flow 3s linear infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow {
    0% { background-position: 0% }
    100% { background-position: 300% }
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 350px;
}

button {
    padding: 16px 40px;
    font-size: 18px;
    border-radius: 12px;
    background: #1e293b;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
button::before {
    content: "";
    position: absolute;
    inset: -100%;
    background: linear-gradient(180deg, #ec4899, #3b82f6);
    background-size: 300%;
    animation: spin 3s linear infinite;
    z-index: 0;
}
button span {
    position: relative;
    z-index: 1;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 255, 156, 0.4);
}